<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <!--false/true-->
    <add key="ServerIP" value="127.0.0.1"/>
    <add key="sleepInSpinWait" value="10"/>
    <add key="gid0" value="張"/>
    <add key="fullname0" value="三"/>
    <add key="gid1" value="李"/>
    <add key="fullname1" value="四"/>
    <!--
    /24.69203 121.8355
            "N2441.5218E12150.13",
            //24.69203 121.83558
            "N2441.5218E12150.1348",
            //25.13316 121.74165
            "N2507.9896E12144.499",
            //25.16042 121.7341
            "N2509.6252E12144.046",
            //25.02105 121.95243
            "N2501.263E12157.1458"      -->
    <add key="UidList" value="
         900301,912639,912429,913498,912635,
         1,2"/>
    <add key="debugMsg" value="true"/>
    <add key="sendSleepTime" value="1000"/>
    <add key="speed" value="10"/>
    <!--true false-->
  </appSettings>
</configuration>