<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--SQL config-->
    <add key="SQL_SERVER_IP" value="192.168.1.5"/>
    <add key="SQL_SERVER_PORT" value="5432"/>
    <add key="SQL_SERVER_USER_ID" value="postgres"/>
    <add key="SQL_SERVER_PASSWORD" value="wavegis"/>
    <add key="SQL_SERVER_DATABASE" value="Demo"/>
    <add key="SQL_ACCESS" value="true"/>
    <!--SQL pooling settings-->
    <add key="Pooling" value="true"/>
    <add key="MinPoolSize" value="1"/>
    <add key="MaxPoolSize" value="20"/>
    <add key="ConnectionLifetime" value="15"/>
    <!--false/true-->
    <add key="debugMsg" value="true"/>
    <add key="sendSleepTime" value="1000"/>

    <!--true false-->
  </appSettings>
</configuration>